/vendor
/node_modules
/scripts/key/deploy-key

# Laravel 5
/bootstrap/cache
.env.*.php
.env.php
.env
/public/storage
/public/hot
/public/js
/public/css
/public/media
/public/mix-manifest.json
/storage/*.key
/storage/debugbar

# Ansible
*.retry
ansible_vault

# Idea
/.idea
