@import "./_variables.scss";
@import "~bulma";
@import "~font-awesome/scss/font-awesome.scss";

@import "./landing.scss";
@import "./_utils.scss";
@import "./objectif.scss";


.app {
    margin: 60px 10px 0 10px;
}

.app-main-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.app-home-nav {
    min-height: 75px;
}

.app-palette-item.is-active {
    color: $primary;
    font-weight: bold;
}

.load-board-modal {
    .parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        margin: auto;
        margin-bottom: 20px;

        .image {
            width: 200px;  /* Or whatever */
            height: 200px; /* Or whatever */
            margin: auto;  /* Magic! */
            margin-bottom: 10px;
        }
    }

    .box-is-active {
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 2px #1a936f
    }
}

textarea {
    resize: vertical;
    min-height: 80px;
    max-height: 300px;
}


.on-canvas
{
    position: absolute;
    background-color: white;
}
.on-canvas-right
{
    right: 0px;
}
.on-canvas-left
{
    left: 0px;
}

// html, body {
//     height: 100%;
//     overflow: hidden;
// }

// .columns, .column {
//     overflow: scroll !important;
// }