#landing .is-dark {
  background-image: linear-gradient(rgba(#114b5f, 0.6),rgba(#1a936f, 0.6)),
    linear-gradient(rgba(#000000, 0.7),rgba(#000000, 0.7)),
    url('../media/landing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing .hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}

#landing .nav {
  padding: 20px 0;
}

#landing .nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

#landing .nav-item .button {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
  border-radius: 0px;
}