.conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.element
{
  
    width: 33%;
     padding: 10px;
    
}


.board-objectif {
    margin: 10px;
    padding: 10px;
}
.element:nth-child(n+3) {
   opacity: 1;
   pointer-events:none;
}